Repository education/classroom, pull requests merged in 2018-08, with the labels that each got.

#1432 Octopoller.try
  lib/octopoller.rb
  spec/lib/octopoller_spec.rb
Labels: :rocket: ready for review

#1449 Automatic retries for creating a GitHub repo
  app/controllers/assignment_invitations_controller.rb
  app/jobs/assignment_repo/create_github_repository_job.rb
  spec/jobs/assignment_repo/create_github_repository_job_spec.rb
  spec/support/cassettes/AssignmentRepo_CreateGitHubRepositoryJob/failure/fails_and_automatically_retries.json
  spec/support/cassettes/AssignmentRepo_CreateGitHubRepositoryJob/failure/fails_and_puts_invite_status_in_state_to_retry.json
Labels: :rocket: ready for review, 🆕 create/import repo flow

#1459 Use correct ENV for DB pool
  config/database.yml
Labels: :hammer_and_wrench: fix

#1464 Repo ready at url
  app/assets/javascripts/setupv2.js
  app/controllers/assignment_invitations_controller.rb
  app/jobs/assignment_repo/porter_status_job.rb
  spec/controllers/assignment_invitations_controller_spec.rb
  spec/jobs/assignment_repo/porter_status_job_spec.rb
  spec/support/cassettes/AssignmentInvitationsController/POST_create_repo/with_import_resiliency_enabled/when_the_github_repository_already_exists/has_a_repo_url_field_present.json
Labels: :rocket: ready for review, 🆕 create/import repo flow

#1467 Add failing test
  app/jobs/assignment_repo/create_github_repository_job.rb
  spec/jobs/assignment_repo/create_github_repository_job_spec.rb
Labels: :hammer_and_wrench: fix

#1454 Group invite status migration
  db/migrate/20180802210833_create_group_invite_statuses.rb
  db/schema.rb
Labels: :rocket: ready for review, 🆕 create/import repo flow

#1471 Add launch modal and detect if Classroom-Desktop is installed
  .scss-lint.yml
  app/assets/javascripts/desktop-protocol-handler.js
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/components/desktop-modal.scss
  app/assets/stylesheets/components/primer-dropdown.scss
  app/views/assignments/show.html.erb
  app/views/group_assignments/show.html.erb
  app/views/shared/_open_on_desktop_modal.html.erb
  package.json
  yarn.lock
Labels: :desktop_computer: classroom desktop, :rocket: ready for review

#1472 Group invite status model
  app/models/group_invite_status.rb
  spec/models/group_invite_status_spec.rb
  spec/support/cassettes/GroupInviteStatus/invalid/when_the_set_of_group_id_and_group_assignment_invitation_id_is_not_unique.json
  spec/support/cassettes/GroupInviteStatus/invalid/without_group_assignment_invitation_id.json
  spec/support/cassettes/GroupInviteStatus/valid/errored_/is_errored_when_errored_creating_repo_.json
  spec/support/cassettes/GroupInviteStatus/valid/errored_/is_errored_when_errored_importing_starter_code_.json
  spec/support/cassettes/GroupInviteStatus/valid/has_a_default_status_of_unaccepted.json
  spec/support/cassettes/GroupInviteStatus/valid/relationships/has_a_group.json
  spec/support/cassettes/GroupInviteStatus/valid/relationships/has_a_group_assignment_invitation.json
  spec/support/cassettes/GroupInviteStatus/valid/setting_up_/is_setting_up_when_accepted_.json
  spec/support/cassettes/GroupInviteStatus/valid/setting_up_/is_setting_up_when_creating_repo_.json
  spec/support/cassettes/GroupInviteStatus/valid/setting_up_/is_setting_up_when_errored_importing_starter_code_.json
  spec/support/cassettes/GroupInviteStatus/valid/setting_up_/is_setting_up_when_waiting_.json
Labels: :rocket: ready for review, 🆕 create/import repo flow

#1455 Group.users relation
  app/models/group.rb
  spec/models/group_spec.rb
  spec/support/cassettes/Group/assocations/has_users.json
Labels: :rocket: ready for review, 🆕 create/import repo flow

#1478 Has many group invite statuses
  app/models/assignment_invitation.rb
  app/models/group.rb
  app/models/group_assignment_invitation.rb
  spec/models/assignment_invitation_spec.rb
  spec/models/group_assignment_invitation_spec.rb
  spec/models/group_spec.rb
  spec/support/cassettes/Group/group_invite_statuses/on_destroy_destroys_all_invite_statuses.json
  spec/support/cassettes/Group/group_invite_statuses/on_destroy_destroys_invite_status_and_not_the_invitation.json
  spec/support/cassettes/Group/group_invite_statuses/returns_a_list_of_invite_statuses.json
  spec/support/cassettes/GroupAssignmentInvitation/_status/returns_the_GroupInviteStatus_that_belongs_to_the_group_and_the_invite.json
  spec/support/cassettes/GroupAssignmentInvitation/_status/should_create_an_invite_status_for_a_group_when_one_does_not_exist.json
  spec/support/cassettes/GroupAssignmentInvitation/_status/should_find_an_invite_status_for_a_group_when_one_does_exist.json
  spec/support/cassettes/GroupAssignmentInvitation/group_invite_statuses/on_destroy_destroys_invite_status_and_not_the_group.json
  spec/support/cassettes/GroupAssignmentInvitation/group_invite_statuses/returns_a_list_of_invite_statuses.json
Labels: :rocket: ready for review, create/import repo flow

#1485 Add new feature flag for group import resiliency
  app/controllers/application_controller/feature_flags_dependency.rb
Labels: :rocket: ready for review, create/import repo flow

#1486 Remove repository setup dead code from GroupAssignmentInvitationsController
  app/assets/javascripts/setup-repo.js
  app/controllers/application_controller/feature_flags_dependency.rb
  app/controllers/group_assignment_invitations_controller.rb
  app/views/assignment_invitations/show.html.erb
  app/views/group_assignment_invitations/setup.html.erb
  config/routes.rb
  spec/controllers/group_assignment_invitations_controller_spec.rb
  spec/support/cassettes/AssignmentInvitationsController/GET_setup/authenticated_request/shows_setup.json
  spec/support/cassettes/AssignmentInvitationsController/PATCH_setup_progress/gives_status_of_complete_when_configured.json
  spec/support/cassettes/AssignmentInvitationsController/PATCH_setup_progress/gives_status_of_configuring_when_unconfigured.json
  spec/support/cassettes/GroupAssignmentInvitationsController/GET_setup/repo_setup_disabled/authenticated_request/redirects_to_the_success_page.json
  spec/support/cassettes/GroupAssignmentInvitationsController/GET_setup/repo_setup_enabled/authenticated_request/shows_setup.json
  spec/support/cassettes/GroupAssignmentInvitationsController/PATCH_setup_progress/gives_status_of_complete_when_configured.json
  spec/support/cassettes/GroupAssignmentInvitationsController/PATCH_setup_progress/gives_status_of_configuring_when_unconfigured.json
Labels: :rocket: ready for review, create/import repo flow

#1488 GroupAssignmentInvitationController #setupv2
  app/controllers/group_assignment_invitations_controller.rb
  app/views/group_assignment_invitations/setupv2.html.erb
  config/routes.rb
  spec/controllers/group_assignment_invitations_controller_spec.rb
  spec/support/cassettes/GroupAssignmentInvitationsController/GET_setupv2/404s_when_feature_is_off.json
  spec/support/cassettes/GroupAssignmentInvitationsController/GET_setupv2/with_group_import_resiliency_enabled/renders_setupv2.json
Labels: :rocket: ready for review, create/import repo flow

#1489 GroupAssignmentInvitationController #create_repo and #progress routes
  app/controllers/application_controller/feature_flags_dependency.rb
  app/controllers/group_assignment_invitations_controller.rb
  spec/controllers/group_assignment_invitations_controller_spec.rb
  spec/support/cassettes/GroupAssignmentInvitationsController/GET_progress/404s_when_feature_is_off.json
  spec/support/cassettes/GroupAssignmentInvitationsController/GET_progress/with_group_import_resiliency_enabled/returns_status.json
  spec/support/cassettes/GroupAssignmentInvitationsController/POST_create_repo/404s_when_feature_is_off.json
  spec/support/cassettes/GroupAssignmentInvitationsController/POST_create_repo/with_group_import_resiliency_enabled/raises_NotImplementedError.json
Labels: :rocket: ready for review, create/import repo flow

#1346 Delete team when it's deleted in GitHub
  app/jobs/team_event_job.rb
  lib/github/web_hook.rb
  spec/fixtures/files/webhook_events/team_deleted.json
  spec/jobs/team_event_job_spec.rb
  spec/support/cassettes/TeamEventJob/ACTION_team_deleted/deletes_empty_team.json
  spec/support/cassettes/TeamEventJob/ACTION_team_deleted/deletes_team_with_students.json
Labels: :rocket: ready for review

#1491 Route based on invite status
  app/controllers/group_assignment_invitations_controller.rb
  spec/controllers/group_assignment_invitations_controller_spec.rb
  spec/support/cassettes/GroupAssignmentInvitationsController/GET_accept/user_is_already_a_member_of_a_group_in_the_grouping/render_accept.json
  spec/support/cassettes/GroupAssignmentInvitationsController/GET_accept/user_is_already_a_member_of_a_group_in_the_grouping/with_group_import_resiliency_enabled/renders_accept.json
  spec/support/cassettes/GroupAssignmentInvitationsController/GET_setupv2/with_group_import_resiliency_enabled/renders_setupv2.json
  spec/support/cassettes/GroupAssignmentInvitationsController/GET_successful_invitation/renders_successful_invitation.json
  spec/support/cassettes/GroupAssignmentInvitationsController/GET_successful_invitation/with_group_import_resiliency_enabled/renders_successful_invitation.json
  spec/support/cassettes/GroupAssignmentInvitationsController/route_based_on_status/accepted_/gets_accept_and_redirects_to_setupv2.json
  spec/support/cassettes/GroupAssignmentInvitationsController/route_based_on_status/accepted_/gets_setupv2.json
  spec/support/cassettes/GroupAssignmentInvitationsController/route_based_on_status/accepted_/gets_successful_invitation_and_redirects_to_setupv2.json
  spec/support/cassettes/GroupAssignmentInvitationsController/route_based_on_status/completed_/gets_setupv2_and_redirects_to_successful_invitation.json
  spec/support/cassettes/GroupAssignmentInvitationsController/route_based_on_status/creating_repo_/gets_setupv2.json
  spec/support/cassettes/GroupAssignmentInvitationsController/route_based_on_status/creating_repo_/gets_successful_invitation_and_redirects_to_setupv2.json
  spec/support/cassettes/GroupAssignmentInvitationsController/route_based_on_status/errored_creating_repo_/gets_setupv2.json
  spec/support/cassettes/GroupAssignmentInvitationsController/route_based_on_status/errored_creating_repo_/gets_successful_invitation_and_redirects_to_setupv2.json
  spec/support/cassettes/GroupAssignmentInvitationsController/route_based_on_status/errored_importing_starter_code_/gets_setupv2.json
  spec/support/cassettes/GroupAssignmentInvitationsController/route_based_on_status/errored_importing_starter_code_/gets_successful_invitation_and_redirects_to_setupv2.json
  spec/support/cassettes/GroupAssignmentInvitationsController/route_based_on_status/importing_starter_code_/gets_setupv2.json
  spec/support/cassettes/GroupAssignmentInvitationsController/route_based_on_status/importing_starter_code_/gets_successful_invitation_and_redirects_to_setupv2.json
  spec/support/cassettes/GroupAssignmentInvitationsController/route_based_on_status/unaccepted_/gets_setupv2_and_redirects_to_show.json
  spec/support/cassettes/GroupAssignmentInvitationsController/route_based_on_status/unaccepted_/gets_successful_invitation_and_redirects_to_show.json
  spec/support/cassettes/GroupAssignmentInvitationsController/route_based_on_status/waiting_/gets_setupv2.json
  spec/support/cassettes/GroupAssignmentInvitationsController/route_based_on_status/waiting_/gets_successful_invitation_and_redirects_to_setupv2.json
Labels: :rocket: ready for review, create/import repo flow

#1507 Revert "Delete team when it's deleted in GitHub"
  app/jobs/team_event_job.rb
  lib/github/web_hook.rb
  spec/fixtures/files/webhook_events/team_deleted.json
  spec/jobs/team_event_job_spec.rb
  spec/support/cassettes/TeamEventJob/ACTION_team_deleted/deletes_empty_team.json
  spec/support/cassettes/TeamEventJob/ACTION_team_deleted/deletes_team_with_students.json
Labels: :beetle: bug, :hammer_and_wrench: fix, :rocket: ready for review

#1501 Group repository creation status channel
  app/channels/group_repository_creation_status_channel.rb
  app/channels/repository_creation_status_channel.rb
  spec/channels/group_repository_creation_status_channel_spec.rb
  spec/channels/repository_creation_status_channel_spec.rb
Labels: :rocket: ready for review, create/import repo flow

#1510 Move the import steps list to shared component
  app/jobs/assignment_repo/porter_status_job.rb
  app/models/github_repository/import_dependency.rb
Labels: :rocket: ready for review, create/import repo flow

#1504 Dont report octokit 404s
  lib/github/errors.rb
  spec/lib/github/errors_spec.rb
Labels: :rocket: ready for review, :sparkles: enhancement

#1511 Reduced Percieved and Cyclomatic Complecity
  app/jobs/assignment_repo/create_github_repository_job.rb
Labels: :rocket: ready for review, :sparkles: enhancement, create/import repo flow

#1514 Delete Group Assignment Repo if anything goes wrong during setup
  app/controllers/concerns/starter_code.rb
  app/models/concerns/github_repoable.rb
  app/models/group_assignment_repo.rb
  lib/github.rb
  lib/github/search.rb
  spec/models/group_assignment_repo_spec.rb
  spec/support/cassettes/GroupAssignmentRepo/with_created_objects/callbacks/before_validation/failure/_add_team_to_github_repository/fails_to_add_team_to_the_repository.json
  spec/support/cassettes/GroupAssignmentRepo/with_created_objects/callbacks/before_validation/failure/_push_starter_code/fails_to_push_the_starter_code_to_the_GitHub_repository.json
  spec/support/cassettes/GroupAssignmentRepo/with_created_objects/callbacks/before_validation/success/_add_team_to_github_repository/adds_the_team_to_the_repository.json
  spec/support/cassettes/GroupAssignmentRepo/with_created_objects/callbacks/before_validation/success/_add_team_to_github_repository/when_students_are_repo_admins_is_true/adds_the_team_to_the_repository.json
  spec/support/cassettes/GroupAssignmentRepo/with_created_objects/callbacks/before_validation/success/_create_github_repository/creates_the_repository_on_GitHub.json
  spec/support/cassettes/GroupAssignmentRepo/with_created_objects/callbacks/before_validation/success/_push_starter_code/pushes_the_starter_code_to_the_GitHub_repository.json
Labels: :rocket: ready for review, create/import repo flow

#1499 Redeem with group import resiliency
  app/controllers/group_assignment_invitations_controller.rb
  app/models/group_assignment_invitation.rb
  app/models/group_assignment_invitation/result.rb
  spec/controllers/group_assignment_invitations_controller_spec.rb
  spec/models/group_assignment_invitation/result_spec.rb
  spec/models/group_assignment_invitation_spec.rb
  spec/support/cassettes/GroupAssignmentInvitation/_redeem_for/disabled_invitation/failed_.json
  spec/support/cassettes/GroupAssignmentInvitation/_redeem_for/disabled_invitation/fails_when_the_invitation_is_not_enabled_.json
  spec/support/cassettes/GroupAssignmentInvitation/_redeem_for/import_resiliency_enabled/changes_the_invite_status_to_accepted.json
  spec/support/cassettes/GroupAssignmentInvitation/_redeem_for/import_resiliency_enabled/doesn_t_return_an_GroupAssignmentRepo.json
  spec/support/cassettes/GroupAssignmentInvitation/_redeem_for/import_resiliency_enabled/pending_.json
  spec/support/cassettes/GroupAssignmentInvitation/_redeem_for/returns_the_GroupAssignmentRepo.json
  spec/support/cassettes/GroupAssignmentInvitation/_redeem_for/success_result/returns_the_GroupAssignmentRepo.json
  spec/support/cassettes/GroupAssignmentInvitation/_redeem_for/success_result/success_.json
  spec/support/cassettes/GroupAssignmentInvitationsController/PATCH_accept_invitation/authenticated_request/fails_if_assignment_invitations_are_disabled.json
  spec/support/cassettes/GroupAssignmentInvitationsController/PATCH_accept_invitation/authenticated_request/invitations_are_disabled/doesn_t_record_a_failure.json
  spec/support/cassettes/GroupAssignmentInvitationsController/PATCH_accept_invitation/authenticated_request/invitations_are_disabled/has_errors.json
  spec/support/cassettes/GroupAssignmentInvitationsController/PATCH_accept_invitation/authenticated_request/invitations_are_disabled/redirects.json
  spec/support/cassettes/GroupAssignmentInvitationsController/PATCH_accept_invitation/authenticated_request/with_group_import_resiliency_enabled/failed/fails_if_assignment_invitations_are_disabled.json
  spec/support/cassettes/GroupAssignmentInvitationsController/PATCH_accept_invitation/authenticated_request/with_group_import_resiliency_enabled/success/creates_a_team.json
  spec/support/cassettes/GroupAssignmentInvitationsController/PATCH_accept_invitation/authenticated_request/with_group_import_resiliency_enabled/success/does_not_create_a_repo.json
  spec/support/cassettes/GroupAssignmentInvitationsController/PATCH_accept_invitation/authenticated_request/with_group_import_resiliency_enabled/success/joins_an_existing_group/creates_a_repo_access.json
  spec/support/cassettes/GroupAssignmentInvitationsController/PATCH_accept_invitation/authenticated_request/with_group_import_resiliency_enabled/success/joins_an_existing_group/groups_status_is_already_completed/redirects_to_successful_invitation.json
  spec/support/cassettes/GroupAssignmentInvitationsController/PATCH_accept_invitation/authenticated_request/with_group_import_resiliency_enabled/success/makes_the_invite_status_accepted.json
  spec/support/cassettes/GroupAssignmentInvitationsController/PATCH_accept_invitation/authenticated_request/with_group_import_resiliency_enabled/success/redirects_to_setupv2.json
  spec/support/cassettes/GroupAssignmentInvitationsController/PATCH_accept_invitation/authenticated_request/with_group_import_resiliency_enabled/success/sends_an_event_to_statsd.json
Labels: :rocket: ready for review, create/import repo flow

#1531 Report the number of invite_statuses_touched
  lib/tasks/locked_invite_status_migration.rake
Labels: :rocket: ready for review, :sparkles: enhancement, create/import repo flow

#1519 Add GroupAssignmentRepo::CreateGitHubRepositoryJob
  app/jobs/group_assignment_repo/create_github_repository_job.rb
  spec/jobs/group_assignment_repo/create_github_repository_job_spec.rb
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/invalid_invitation_status/returns_early_when_invitation_status_is_accepted.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/invalid_invitation_status/returns_early_when_invitation_status_is_creating_repo.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/invalid_invitation_status/returns_early_when_invitation_status_is_errored_creating_repo.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/invalid_invitation_status/returns_early_when_invitation_status_is_errored_importing_starter_code.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/invalid_invitation_status/returns_early_when_invitation_status_is_importing_starter_code.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/invalid_invitation_status/returns_early_when_invitation_status_is_unaccepted.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/context_no_starter_code/successful_creation/added_the_team_to_the_repository.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/context_no_starter_code/successful_creation/broadcasts/completed.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/context_no_starter_code/successful_creation/broadcasts/creating_repo.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/context_no_starter_code/successful_creation/changes_the_invite_status_to_completed.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/context_no_starter_code/successful_creation/created_a_GitHub_repository.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/context_no_starter_code/successful_creation/datadog_stats/tracks_create_success.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/context_no_starter_code/successful_creation/datadog_stats/tracks_elapsed_time.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/context_no_starter_code/successful_creation/did_not_start_a_source_import.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/context_no_starter_code/successful_creation/group_assignment_repo_not_nil.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/context_no_starter_code/successful_creation/has_the_same_group.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/context_no_starter_code/successful_creation/is_the_same_assignment.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/creation_failure/fails_to_add_the_team_to_the_repository/broadcasts/creating_repo.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/creation_failure/fails_to_add_the_team_to_the_repository/broadcasts/errored_creating_repo.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/creation_failure/fails_to_add_the_team_to_the_repository/perform_after/logs_error.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/creation_failure/fails_to_add_the_team_to_the_repository/perform_after/tracks_create_fail.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/creation_failure/fails_to_add_the_team_to_the_repository/perform_before/changes_invite_status_to_be_errored_creating_repo.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/creation_failure/fails_to_add_the_team_to_the_repository/perform_before/doesn_t_create_a_GroupAssignmentRepo.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/creation_failure/fails_to_create_a_GitHub_repo/broadcasts/creating_repo.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/creation_failure/fails_to_create_a_GitHub_repo/broadcasts/errored_creating_repo.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/creation_failure/fails_to_create_a_GitHub_repo/perform_after/logs_error.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/creation_failure/fails_to_create_a_GitHub_repo/perform_after/tracks_create_fail.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/creation_failure/fails_to_create_a_GitHub_repo/perform_before/changes_invite_status_to_be_errored_creating_repo.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/creation_failure/fails_to_create_a_GitHub_repo/perform_before/doesn_t_create_a_GroupAssignmentRepo.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/creation_failure/fails_to_save_the_record/broadcasts/creating_repo.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/creation_failure/fails_to_save_the_record/broadcasts/errored_creating_repo.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/creation_failure/fails_to_save_the_record/perform_after/logs_error.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/creation_failure/fails_to_save_the_record/perform_after/tracks_create_fail.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/creation_failure/fails_to_save_the_record/perform_before/changes_invite_status_to_be_errored_creating_repo.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/creation_failure/fails_to_save_the_record/perform_before/doesn_t_create_a_GroupAssignmentRepo.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/creation_failure/fails_to_start_a_source_import/broadcasts/creating_repo.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/creation_failure/fails_to_start_a_source_import/broadcasts/errored_creating_repo.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/creation_failure/fails_to_start_a_source_import/perform_after/logs_error.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/creation_failure/fails_to_start_a_source_import/perform_after/tracks_create_fail.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/creation_failure/fails_to_start_a_source_import/perform_before/changes_invite_status_to_be_errored_creating_repo.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/creation_failure/fails_to_start_a_source_import/perform_before/doesn_t_create_a_GroupAssignmentRepo.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/creation_failure/positive_retries/fails_and_automatically_retries.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/creation_failure/positive_retries/fails_and_puts_invite_status_in_state_to_retry.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/successful_creation/added_the_team_to_the_repository.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/successful_creation/broadcasts/creating_repo.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/successful_creation/broadcasts/importing_starter_code.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/successful_creation/changes_the_invite_status_to_importing_starter_code.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/successful_creation/created_a_GitHub_repository.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/successful_creation/datadog_stats/tracks_create_success.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/successful_creation/datadog_stats/tracks_elapsed_time.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/successful_creation/group_assignment_repo_not_nil.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/successful_creation/has_the_same_group.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/successful_creation/is_the_same_assignment.json
  spec/support/cassettes/GroupAssignmentRepo_CreateGitHubRepositoryJob/with_created_objects/valid_invitation_status/successful_creation/started_a_source_import.json
Labels: :rocket: ready for review, create/import repo flow

#1534 Fix unhandled GitHub error
  app/models/assignment_repo/creator.rb
  spec/models/assignment_repo/creator_spec.rb
  spec/support/cassettes/AssignmentRepo_Creator/_perform/successful_creation/creates_an_AssignmentRepo_as_a_member.json
  spec/support/cassettes/AssignmentRepo_Creator/_perform/successful_creation/creates_an_AssignmentRepo_as_an_outside_collaborator.json
  spec/support/cassettes/AssignmentRepo_Creator/_perform/successful_creation/github_repository_with_the_same_name_already_exists/new_repository_name_has_expected_suffix.json
  spec/support/cassettes/AssignmentRepo_Creator/_perform/successful_creation/tracks_create_success_stat.json
  spec/support/cassettes/AssignmentRepo_Creator/_perform/successful_creation/tracks_the_how_long_it_too_to_be_created.json
  spec/support/cassettes/AssignmentRepo_Creator/_perform/unsuccessful_creation/fails_when_the_repository_could_not_be_created.json
  spec/support/cassettes/AssignmentRepo_Creator/_perform/unsuccessful_creation/tracks_create_fail_stat.json
  spec/support/cassettes/AssignmentRepo_Creator/_perform/unsuccessful_creation/with_a_successful_repository_creation/fails_when_the_AssignmentRepo_object_could_not_be_created.json
  spec/support/cassettes/AssignmentRepo_Creator/_perform/unsuccessful_creation/with_a_successful_repository_creation/fails_when_the_starter_code_could_not_be_imported.json
  spec/support/cassettes/AssignmentRepo_Creator/_perform/unsuccessful_creation/with_a_successful_repository_creation/fails_when_the_user_could_not_be_added_to_the_repo.json
  spec/support/cassettes/AssignmentRepo_Creator/_verify_organization_has_private_repos_available_/organization_has_private_repos/returns_true.json
  spec/support/cassettes/AssignmentRepo_Creator/_verify_organization_has_private_repos_available_/organization_plan_can_t_be_found/raises_a_Result_Error.json
  spec/support/cassettes/AssignmentRepo_Creator/_verify_organization_has_private_repos_available_/organization_plan_limit_reached/raises_a_Result_Error.json
Labels: :beetle: bug, :hammer_and_wrench: fix, :rocket: ready for review, create/import repo flow
